{% extends "App/madre.html" %}
{% load static %}
{% block contenidoQueCambia %}


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">los videos más</span>
                        <span class="section-heading-lower">Populares</span>
                    </h2>
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" align="left" src="https://64.media.tumblr.com/3dd38b12374886a32d9a9652389c0803/add75aa156e77d59-02/s540x810/a2d6f87e3346c4495503286b78ba1c5b4c523836.gif"  width= "350"/>
                    <p class="intro-text"><b>YOASOBI「アイドル」 Official Music Video</b></p>
                    <br>
                    <p class="mb-0"align="left">⠀⠀⠀Visitas: 56,546,820</p>
                    <p class="mb-0"align="left">⠀⠀⠀Duración: 3:45</p>
                    <p class="mb-0"align="left">⠀⠀⠀Fecha de publicación: 12/04/2023</p>
                    <br>
                        <a href="https://youtu.be/ZRtdQ81jPUQ"> ver video </a>
                    <br>
                    <br>
                    <br>
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" align="left" src="https://64.media.tumblr.com/8b7c54eadbcd41b1026b9d201523f79e/383d096e45af2ecb-f9/s500x750/db0701d74e9275e61f5443936b2276865706b52f.gifv"  width= "350"/>
                    <p class="intro-text"><b>ENEMY | Video musical oficial (Arcane)</b></p>
                    <p class="mb-0"align="left">⠀⠀⠀Visitas: 225,418,480</p>
                    <p class="mb-0"align="left">⠀⠀⠀Duración: 3:33</p>
                    <p class="mb-0"align="left">⠀⠀⠀Fecha de publicación: 28/10/2021</p>
                    <a href="https://www.youtube.com/watch?v=F5tSoaJ93ac"> ver video </a>
                    <br>
                    <br>
                    <br>
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" align="left" src="https://64.media.tumblr.com/85f6c5936d89fa9e0db6df67af93708c/fcf32bb4823557fe-ec/s540x810/0f95e2fb1ef3ffb20b9f7cef4d502dd651cdd3f7.gifv"  width= "350"/>
                    <p class="intro-text"><b>K/DA - POP/STARS | Music Video</b></p>
                    <p class="mb-0"align="left">⠀⠀⠀Visitas: 550,568,474</p>
                    <p class="mb-0"align="left">⠀⠀⠀Duración: 3:22</p>
                    <p class="mb-0"align="left">⠀⠀⠀Fecha de publicación: 03/11/2018</p>
                    <a href="https://www.youtube.com/watch?v=UOxkGD8qRB4"> ver video </a>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}