{% extends "App/madre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">Añadir Viewer</span>
                    </h2>

                    {% if miFormulario.errors %}     
                    <p style="color: red;"> Estan mal los datos, revisalos</p>    
                    {% endif %}
                    
                    <form action="" method="post"> {% csrf_token %}
                        <center>
                            <table>
                                {{ miFormulario.as_table }}
                            </table>
                        </center>
                        <br>
                        <br>
                        <input type="submit", value="Enviar">
                    </form>   
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}